body {

    margin: 0;
    padding: 0;

    background-color: rgb(237, 165, 64);

    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;

}


.containerprincipal {

    height: 29.3em;
    width: 19.3em;
    background-color: black;
    border-radius: 0em 0em 3.4em 0em;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;

}

/* .sombracontorno {

    height: 28.2em;
    width: 1em;
    background-color: rgb(82, 82, 82);
    margin-left: 280px;
    position: absolute;


} */

.contornoconsola {

    height: 28.2em;
    width: 18em;
    background-color: rgb(212, 206, 206);
    border-radius: 0em 0em 3em 0em;

}


.marcodepantalla {

    height: 12em;
    width: 16em;
    background-color: rgb(125, 124, 124);
    margin-bottom: 15em;
    border-radius: 0em 0em 3em 0em;
    position: absolute;
    border: solid 2px black;

}

.pantalla {

    height: 10em;
    width: 13em;
    background-color: black;
    position: absolute;
    margin-bottom: 15em;
    border-radius: 1em;
    background-image: url("/img/darksoulsprincipal.gif");
    background-size: cover;
    background-position-y: -5px;
    border: solid 4px white;

}

/* FLECHITAS */

*,
*:before,
*:after {
    box-sizing: border-box;
}


div {
    padding: 0;
    margin: 0;
    width: 3em;
    height: 3em;
    position: absolute;
}

.wrapper {
    position: absolute;
    height: 9em;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    filter: drop-shadow(3px 3px 3px #777);
}

.center {
    z-index: 2;
    top: 3em;
}

.center-circle {
    position: static;
    background: #777;
    border-radius: 100%;
    margin: auto;
    width: 75%;
    height: 75%;
    z-index: 3;
}

.up,
.right,
.down,
.left,
.center {
    background: #000;
    padding: 12px;
    border: 1px solid #222;
    margin-top: 100px;
    scale: .5;
}

.right {
    top: 2em;
    left: -2.25em;
}

.left {
    top: 2em;
    right: 5.7em;
}

.down {
    top: 3.7em;
    left: -4em;
}

.up {

    left: -4em;
    top: 0.3em;

}

.center {

    left: -4em;
    top: 2em;

}

.up-triangle {
    position: absolute;
    bottom: 16px;
    right: 8px;
    margin: auto;
    width: 65%;
    height: 65%;
    border-left: solid 15px transparent;
    border-right: solid 15px transparent;
    border-bottom: solid 20px #777;

}

.right-triangle {
    position: absolute;
    bottom: 8px;
    right: 0px;
    margin: auto;
    width: 65%;
    height: 65%;
    border-left: solid 15px transparent;
    border-right: solid 15px transparent;
    border-bottom: solid 20px #777;
    transform: rotate(90deg);
}

.down-triangle {
    position: absolute;
    bottom: 0px;
    right: 8px;
    margin: auto;
    width: 65%;
    height: 65%;
    border-left: solid 15px transparent;
    border-right: solid 15px transparent;
    border-bottom: solid 20px #777;
    transform: rotate(180deg);
}

.left-triangle {
    position: absolute;
    bottom: 8px;
    left: 1px;
    margin: auto;
    width: 65%;
    height: 65%;
    border-left: solid 15px transparent;
    border-right: solid 15px transparent;
    border-bottom: solid 20px #777;
    transform: rotate(-90deg);
}


/* BOTONES */

.fondobotones {
    position: absolute;
    top: 72px;
    left: 252px;
    width: 110px;
    height: 50px;
    background: #DFDFDF;
    border-radius: 30px;
    transform: rotate(-25deg);
    border: solid 4px grey;
    top: 18em;
    left: 10.5em;
    box-shadow: 0em 0.1em 1em rgba(0, 0, 0, 0.5);

}

.boton1 {

height:2em;
width: 2em;
background-color: rgb(215, 244, 27);
border-radius: 50%;
border: solid 1px rgb(109, 109, 109);
top: 19.13em;
right: 5.6em;
box-shadow: 0em 0.1em 1em rgba(0, 0, 0, 0.7);

}


.boton2 {

height:2em;
width: 2em;
background-color: rgb(44, 44, 44);
border-radius: 50%;
border: solid 1px rgb(109, 109, 109);
top: 18em;
right: 3.2em;
box-shadow: 0em 0.1em 1em rgba(0, 0, 0, 0.7);

}


.botonselect {

    position: absolute;
    height: 12px;
    width: 50px;
    background-color:  rgb(44, 44, 44);
    border-radius: 10px;
    border: solid 1px black;
    box-shadow: 0em 0.1em 1em rgba(20, 20, 20, 0.6);
    top: 25em;
    left: 5em;
    
}


.botonstart {

    position: absolute;
    height: 12px;
    width: 50px;
    background-color:  #ffffff;
    border-radius: 10px;
    border: solid 1px black;
    box-shadow: 0em 0.1em 1em rgba(0, 0, 0, 0.6);
    top: 25em;
 left: 11em;

    
}

/* START y SELECT */

.select {

font-size: 8px;
color: rgb(92, 92, 92);
position: absolute;
font-family: fantasy;
top: 52em;
left: 11.6em;

}

.start {

font-size: 8px;
color: rgb(92, 92, 92);
position: absolute;
font-family: fantasy;
top: 52em;
left: 24em;

}


/* CARTUCHO */

.cartucho {

height: 6em;
width: 6em;
position: absolute;
background-color: rgb(90, 89, 89);
right: -13em;
top: 9em;
border: solid 1.5px black;
}

.fotocartucho {

background-image: url("/img/cartucho.png");
background-size: cover;
scale: 1.7;
right: -11.5em;
top: 10.5em;
border: solid 1px white;

}

.topcartucho {

height: 1em;
width: 6em;
background-color: rgb(90, 89, 89);
right: -13em;
top: 8.3em;
border-top-right-radius: 45%;
border: solid 1px black;

}

.sombracartucho {

    height: 0.5em;
    width: 5em;
    background-color: rgb(78, 77, 77);
    right: -12.4em;
    top: 8.6em;
    border-radius: 25%;

}